/* Fenix - Buttons Component */

/** avoid dotted lines when clicking on button**/
input[type="button"] {
  outline:none;
}

button:focus {
  outline:0;
  outline:none;
}

button:active {
  outline:0;
  outline:none;
}

.btn:focus, .btn:active, .btn:active:focus{
  outline: none;
}

input[type="button"]::-moz-focus-inner{
  border:0;
}

/**  end of **/

.btn-round{
  padding: 3px;
  height: 24px;
  @include fx-border-radius(50%);



  &:last-child:not(:first-child), &:not(:first-child){
    @include fx-border-radius(50%);
  }

}


/* Visualization Box btns */

.btn-default.meta-btn{

  background-color: $fenix-secondary-text;
  font-size: 11px;
  color: white;
  padding: 1px 5px;
  border-color: transparent;
  @include fx-border-radius(5px);

  &.active, &:active{


  }

  &.focus, &:focus{

  }

  &[disabled]{

  }

  &:hover{
    background-color: lighten($fenix-secondary-text, 10%) ;
    border-color: transparent;
  }


}

